.card {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  img {
    max-height: 200px;
    margin-right: 10px;
  }

  .btn-danger {
    display: block;
    margin-top: 10px;
  }

  input {
    text-align: center;
  }

  input[type="number"]::-webkit-outer-spin-button, 
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

.col-sm-12 {
  margin-bottom: 10px;
}