<div class="row">
  <div class="col-sm-12">
    <form [formGroup]="productForm">
      <div class="form-group">
        <input type="text" placeholder="search" [(ngModel)]="searchInput" [ngModelOptions]="{standalone: true}">
        <button (click)="onSearch()">Search</button>
      </div>
      <div class="form-group">
        <label>Price</label>
        <select formControlName="price" (change)="onSelectPrice()">
          <option value="">Please choose</option>
          <option *ngFor="let priceOption of priceOptions" [ngValue]="priceOption">{{ priceOption }}</option>
        </select>
      </div>
      <div class="form-group">
        <label>date</label>
        <select formControlName="date" (change)="onSelectDate()">
          <option value="">Please choose</option>
          <option *ngFor="let dateOption of dateOptions" [ngValue]="dateOption">{{ dateOption }}</option>
        </select>
      </div>
      <div class="form-group">
        <label>publish from</label>
        <select formControlName="publishFrom" (change)="onSelectPublishFrom()">
          <option value="">Please choose</option>
          <option *ngFor="let publishFromOption of publishFromOptions" [ngValue]="publishFromOption">{{ publishFromOption }}</option>
        </select>
      </div>
      <div class="form-group">
        <label>publish to</label>
        <select name="publishTo">
          <option value="">Please choose</option>
          <option value="otl">oldest to latest</option>
          <option value="lto">latest to oldest</option>
        </select>
      </div>
    </form>
  </div>
  <router-outlet></router-outlet>
  <div class="col-sm-12">
    <ul class="pagination justify-content-end">
      <li *ngFor="let page of pages; let i = index" class="page-item"><a routerLinkActive="active" [routerLink]="i+1" class="page-link">{{i+1}}</a></li>
    </ul>
  </div>
</div>