<div class="row">
  <div class="col-sm-12 form-wrap">
    <div class="form-filter">
      <div class="form-group">
        <input
          type="text"
          placeholder="search"
          style="width: 100%;"
          [(ngModel)]="searchInput"
          (keyup)="onSearch()"
        />
        <button (click)="onSearch()">Search</button>
      </div>
      <app-form-select [Options]="priceOptions" [label]="'price'" [productProperty]="'price'"></app-form-select>
      <app-form-select [Options]="dateOptions" [label]="'date'" [productProperty]="'createdAt'"></app-form-select>
      <app-form-select [Options]="dateOptions" [label]="'publish from'" [productProperty]="'publish_from'"></app-form-select>
      <app-form-select [Options]="dateOptions" [label]="'publish to'" [productProperty]="'publish_to'"></app-form-select>
      <app-form-select [Options]="typeOptions" [label]="'type'" [productProperty]="'type'"></app-form-select>
    </div>

    <app-product-form [Options]="typeOptions" [title]="'Add'"></app-product-form>

    <app-product-form [Options]="typeOptions" [Product]="product" *ngIf="isEdit" [title]="'Update'" [checkEdit]="isEdit"></app-product-form>
  </div>
  <div
    class="col-sm-12"
    style="display: flex; flex-flow: wrap; justify-content: space-between;">
    <p *ngIf="isNothingFound">
      No Product with name : '{{ searchInput }}' is founded
    </p>
    <div
      class="card"
      *ngFor="let product of productsClone | paginate: config; let i = index"
    >
      <img [src]="product.image" alt="product image" class="card-img-top" />

      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">Created At : {{ product.createdAt | date }}</p>
        <p class="card-text">
          Publish from : {{ product.publish_from | date }}
        </p>
        <p class="card-text">Publish to : {{ product.publish_to | date }}</p>
        <p class="card-text">Type : {{ product.type }}</p>
        <p class="card-text">price: {{ product.price }} $</p>

        <button class="btn btn-warning" (click)="onEditProduct(i)">
          Edit Product
        </button>
        <button class="btn btn-danger" (click)="onDeleteProduct(i)">
          Delete Product
        </button>
        <button class="btn btn-primary" (click)="onAddToCart(i)">
          Add to cart
        </button>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <pagination-controls
      (pageChange)="pageChanged($event)"
    ></pagination-controls>
  </div>
</div>
