<div class="row">
  <div class="col-sm-12">
    <form [formGroup]="productForm">
      <div class="form-group">
        <input type="text" placeholder="search" formControlName="input">
        <button (click)="onSearch()">Search</button>
      </div>
      <div class="form-group">
        <label>Price</label>
        <select formControlName="price" (change)="onSelectPrice()">
          <option value="">Please choose</option>
          <option *ngFor="let priceOption of priceOptions" [ngValue]="priceOption">{{ priceOption }}</option>
        </select>
      </div>
      <div class="form-group">
        <label>date</label>
        <select formControlName="date" (change)="onSelectDate()">
          <option value="">Please choose</option>
          <option *ngFor="let dateOption of dateOptions" [ngValue]="dateOption">{{ dateOption }}</option>
        </select>
      </div>
      <div class="form-group">
        <label>publish from</label>
        <select formControlName="publishFrom" (change)="onSelectPublishFrom()">
          <option value="">Please choose</option>
          <option *ngFor="let dateOption of dateOptions" [ngValue]="dateOption">{{ dateOption }}</option>
        </select>
      </div>
      <div class="form-group">
        <label>publish to</label>
        <select formControlName="publishTo" (change)="onSelectPublishTo()">
          <option value="">Please choose</option>
          <option *ngFor="let dateOption of dateOptions" [ngValue]="dateOptions">{{ dateOption }}</option>
        </select>
      </div>
      <div class="form-group">
        <label>Type</label>
        <select formControlName="type" (change)="onSelectType()">
          <option value="">Please choose</option>
          <option *ngFor="let typeOption of typeOptions" [ngValue]="typeOption">{{ typeOption }}</option>
        </select>
      </div>
    </form>
  </div>
  <div class="col-sm-12" style="display: flex; flex-flow: wrap; justify-content: flex-start;">
    <p *ngIf="isFetching">Loading...</p>
    <p *ngIf="isNothingFound">No Product with name : '{{searchInput}}' is founded</p>
    <div class="card" *ngFor="let product of productsClone | paginate: config; let i=index">
      <img [src]="product.image" alt="product image" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">Created At : {{ product.createdAt | date }}</p>
        <p class="card-text">Publish from : {{ product.publish_from | date }} </p>
        <p class="card-text">to : {{ product.publish_to | date }}</p>
        <p class="card-text">Type : {{ product.type }}</p>
        <p class="card-text">price: {{ product.price }} $</p>
        <button class="btn btn-primary" (click)="onAddToCart(i)">Add to cart</button>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
  </div>
</div>